<nav class="navbar navbar-default" style="background-color : black">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "SachOnline")">TRANG CHỦ</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">GIỚI THIỆU</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TRUYỆN THEO THỂ LOẠI <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ngôn Tình</a></li>
                        <li><a href="#">Xuyên Không</a></li>
                        <li><a href="#">Thiếu Nhi</a></li>
                        <li><a href="#">Cổ Đại</a></li>
                        <li><a href="#">Trinh Thám</a></li>
                        <li><a href="#">Kinh Dị</a></li>
                        <li><a href="#">Thiếu Nhi</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TRUYỆN THEO NHÀ XUẤT BẢN <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Manhua</a></li>
                        <li><a href="#">Manhwa</a></li>
                        <li><a href="#">Manga</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Search form -->
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tìm Truyện...">
                </div>
                <button type="submit" class="btn btn-default">Tìm</button>
            </form>

            <!-- User authentication section -->
            <ul class="nav navbar-nav navbar-right">
                @if (Session["TaiKhoan"] != null)
                {
                    <li class="nav-item">
                        <p class="navbar-text">Xin chào, @(((SachOnline.Models.KHACHHANG)Session["TaiKhoan"]).HoTen)</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DangXuat", "User")">Đăng Xuất</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DangNhap", "User")">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DangKy", "User")">Đăng Ký</a>
                    </li>
                }
                <li>@Html.Action("GioHangPartial", "GioHang")</li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
